{
  "id": "/${APP_NAME}",
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "${DOCKER_IMAGE_VERSION}",
      "network": "BRIDGE",
      "portMappings": [
        {
          "hostPort": 0,
          "containerPort": 7777,
          "labels": {
            "VIP_0": "/${APP_NAME}:7777"
          }
        },
        {
          "hostPort": 0,
          "containerPort": 2552
        }
      ],
      "forcePullImage": true
    }
  },
  "env": {REPLACE_WITH_ENV_VARS
  },
  "secrets": {REPLACE_WITH_SECRET_VARS
  },
  "instances": ${SRV_INSTANCES},
  "cpus": ${SRV_CPUS},
  "mem": ${SRV_MEM},
  "constraints": [
      [
        "hostname",
        "UNIQUE"
      ],
      [
        "cluster",
        "UNLIKE",
        "gpu"
      ],
      [
        "cluster",
        "UNLIKE",
        "gpu-jupyter"
      ],
      [
        "cluster",
        "UNLIKE",
        "cpu-jupyter"
      ]
    ],
  "healthChecks": [{
    "protocol": "HTTP",
    "path": "/v0.1/health",
    "portIndex": 0,
    "timeoutSeconds": 10,
    "gracePeriodSeconds": 60,
    "intervalSeconds": 2,
    "maxConsecutiveFailures": 10
  }],
  "upgradeStrategy": {
    "maximumOverCapacity": 1,
    "minimumHealthCapacity": 0.5
  }
}
