[Unit]
Description=Seed /etc/environment from cloud-config and S3 bucket
After=network.target syslog.target cloud-final.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/etc-environment.py
RemainAfterExit=yes
TimeoutSec=0
ExecStartPre=/usr/bin/test -f /var/lib/cloud/instance/user-data.txt

[Install]
WantedBy=multi-user.target
