container_commands:
  01_install_aws_sms: 
    command: /usr/local/bin/install_aws_ssm.sh
files:
  "/usr/local/bin/install_aws_ssm.sh":
    content: |
      #!/bin/bash
    
      if yum list installed "amazon-ssm-agent" >/dev/null 2>&1; then   
        echo "ssm already installed"
      else  
        sudo yum update -y
        sudo yum install -y aws-cli   
        curl https://amazon-ssm-us-east-1.s3.amazonaws.com/latest/linux_amd64/amazon-ssm-agent.rpm -o amazon-ssm-agent.rpm
        sudo yum install -y amazon-ssm-agent.rpm
      fi
    mode: "000755"  