SPAN.C1HDropdownText {}

P.TableText0 {FONT-SIZE: 9pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 2pt 3.6pt;  LINE-HEIGHT: normal; }

P.ListTable {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 18pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: 18.0pt 36.0pt; }









P.MsoTitle {FONT-SIZE: 36pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  TEXT-ALIGN: right;  MARGIN: 12.1pt 0pt 36.1pt;  LINE-HEIGHT: normal; }

P.MsoListBullet5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 90pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 90.0pt; }

P.MsoListBullet4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 72pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 72.0pt; }

P.MsoListBullet3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 54pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.MsoListBullet2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.MsoListBullet {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 18.0pt; }


H6 {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 12pt 0pt 3pt;  LINE-HEIGHT: normal; }

P.MsoNormal {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }
span.MsoNormal {color:windowtext; text-decoration:none; }

SPAN.C1HExpandText {FONT-STYLE: italic; }

P.MidTopic {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

P.Figures {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 3pt 0pt;  LINE-HEIGHT: 14pt;  tab-stops: 18.0pt 36.0pt; }

P.BodyTextTable {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }





P.MsoListNumber5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 90pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 90.0pt; }

P.MsoListNumber4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 72pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 72.0pt; }

P.MsoListNumber3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 54pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.MsoListNumber2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.MsoListNumber {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 18.0pt; }

P.MsoEndnoteText {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoIndex4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 40pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -10pt; }

H1 {FONT-SIZE: 20pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 10pt 0pt 8pt;  LINE-HEIGHT: normal; }

SPAN.C1HInlineDropdown {}

SPAN.C1HOnline {}

SPAN.C1HGroupInvisible {DISPLAY: none; }

P.JumpfromContents {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 1pt 0pt 3pt;  LINE-HEIGHT: 14pt; }











P.MsoCommentSubject {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoBodyTextIndent3 {FONT-SIZE: 8pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt 18pt;  LINE-HEIGHT: normal; }

P.MsoBodyTextIndent2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt 18pt;  LINE-HEIGHT: 200%; }

P.MsoListContinue5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt 90pt;  LINE-HEIGHT: normal; }

P.MsoListContinue4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt 72pt;  LINE-HEIGHT: normal; }

P.MsoListContinue3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt 54pt;  LINE-HEIGHT: normal; }

P.MsoListContinue2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 36pt;  LINE-HEIGHT: 14pt; }

P.MsoListContinue {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 18pt;  LINE-HEIGHT: 14pt; }

P.MsoTof {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoIndex5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 50pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -10pt; }

div[align] table {text-align: left; }

P.C1SectionCollapsed, h4.C1SectionCollapsed {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 2pt 0pt;  LINE-HEIGHT: normal; }

P.Note {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Verdana",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 0pt;  LINE-HEIGHT: 14pt;  PADDING-RIGHT: 0pt; }


P.MsoQuote {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  COLOR: #404040;  FONT-STYLE: italic;  TEXT-ALIGN: center;  MARGIN: 10pt 43.2pt 8pt;  LINE-HEIGHT: normal; }







P.MsoDocumentMap {FONT-SIZE: 8pt;  FONT-FAMILY: "Segoe UI",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoSalutation {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoIndex6 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 60pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -10pt; }

H3 {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

SPAN.C1HTopicProperties {DISPLAY: none; }

SPAN.C1HManual {}

P.headerodd {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal;  tab-stops: right 486.0pt; }

P.JumpBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 3pt;  LINE-HEIGHT: 14pt; }

P.HeadingBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 0pt;  LINE-HEIGHT: normal; }






P.MsoBodyTextFirstIndent2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal;  TEXT-INDENT: 18pt; }


P.MsoIndex7 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 70pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -10pt; }

H2 {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

SPAN.D2HNoGloss {}

P.Source {FONT-SIZE: 10pt;  FONT-FAMILY: "Courier New";  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: 14pt;  tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt; }









P.MsoNoSpacing {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }





P.MsoAutoSig {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

SPAN.MsoHyperlinkFollowed {TEXT-DECORATION: underline;  COLOR: purple;  text-underline: single; }

P.MsoHeading8 {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-STYLE: italic;  MARGIN: 12pt 0pt 3pt;  LINE-HEIGHT: normal; }

P.Heading4Numbered {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 2pt 0pt 2pt 43.2pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -43.2pt; }

P.Heading3Numbered {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -36pt; }

P.Heading2Numbered {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt 28.8pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -28.8pt; }

P.Heading1Numbered {FONT-SIZE: 20pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 10pt 0pt 8pt 21.6pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -21.6pt; }

SPAN.C1HInlinePopup {}

P.headereven {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal;  tab-stops: right 486.0pt; }

P.C1HNumber2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 54pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.C1HNumber {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 36pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.TableHeading {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 3pt 3.6pt 0pt;  LINE-HEIGHT: normal; }



















PRE {FONT-SIZE: 10pt;  FONT-FAMILY: Consolas;  MARGIN: 0pt;  LINE-HEIGHT: normal;  tab-stops: 36.0pt; }


P.MsoFootnoteText {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoIndex1 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoHeading9 {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 12pt 0pt 3pt;  LINE-HEIGHT: normal; }

P.C1SectionEnd {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }

SPAN.C1HPopupText {FONT-FAMILY: "Tahoma",sans-serif; }

SPAN.C1HGroupLink {}

SPAN.C1HIndex {}

SPAN.C1HJump {}

P.C1HBullet2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 54pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.C1HBullet {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 36pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.HeaderBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.CodeExplained {FONT-SIZE: 10pt;  FONT-FAMILY: "Courier New";  MARGIN: 5pt 0pt 2pt 36pt;  LINE-HEIGHT: 14pt; }
















P.MsoList5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 90pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt; }

P.MsoList4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 72pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt; }

P.MsoList3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 54pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt; }

P.MsoList2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 36pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: 36.0pt; }

P.MsoToaHeading {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 6pt 0pt 0pt;  LINE-HEIGHT: normal; }

SPAN.MsoFootnoteReference {POSITION: relative;  TOP: -3pt; }

P.MsoIndexHeading {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 15.1pt 0pt 6.1pt;  LINE-HEIGHT: normal; }

P.MsoHeader {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal;  tab-stops: right 486.0pt; }

P.MsoToc1 {FONT-SIZE: 14pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 12pt 0pt 6pt;  LINE-HEIGHT: normal; }

P.MsoIndex2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal; }

SPAN.C1HContentsTitle {}

SPAN.C1HLinkTag {}

SPAN.C1HKeywordLink {}

P.C1HContinue2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 54pt;  LINE-HEIGHT: 14pt; }

P.C1HContinue {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 36pt;  LINE-HEIGHT: 14pt; }

P.SourceTop {FONT-SIZE: 10pt;  FONT-FAMILY: "Courier New";  MARGIN: 5.75pt 0pt 0pt 36pt;  LINE-HEIGHT: 14pt;  tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt; }

P.MarginNote {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-STYLE: italic;  MARGIN: 3pt 0pt;  LINE-HEIGHT: 14pt; }

P.RelatedHead {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  COLOR: blue;  MARGIN: 9pt 0pt 1pt;  LINE-HEIGHT: normal; }

P.Jump {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 3pt;  LINE-HEIGHT: 14pt; }

P.Definition {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5.75pt 0pt 0pt;  LINE-HEIGHT: 14pt; }


P.MsoListParagraph {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal; }


EM {FONT-FAMILY: "75 Helvetica Bold";  FONT-WEIGHT: normal;  FONT-STYLE: normal; }


P.MsoToc2 {FONT-SIZE: 11pt;  TEXT-DECORATION: underline;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 3pt 0pt;  LINE-HEIGHT: normal;  text-underline: double; }

P.MsoIndex3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal; }

P.MsoHeading7 {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 12pt 0pt 3pt;  LINE-HEIGHT: normal; }

P.C1SectionExpanded, h4.C1SectionExpanded {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 2pt 0pt;  LINE-HEIGHT: normal; }

P.footerodd {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt;  LINE-HEIGHT: normal;  PADDING-RIGHT: 0pt;  tab-stops: right 486.0pt; }

P.WhatsThis {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

SPAN.HTML {COLOR: green; }

P.SuperTitle {FONT-SIZE: 14pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Verdana",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  FONT-WEIGHT: bold;  PADDING-BOTTOM: 0pt;  TEXT-ALIGN: right;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 48pt 0pt 0pt 72pt;  LINE-HEIGHT: normal;  PADDING-RIGHT: 0pt; }

P.JumpfromList {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 3pt;  LINE-HEIGHT: 14pt; }

P.CaptionTable {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-STYLE: italic;  MARGIN: 0pt 0pt 8pt;  LINE-HEIGHT: 14pt;  tab-stops: 18.0pt 36.0pt; }

P.MsoBibliography {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }


















SPAN.MsoHyperlink {TEXT-DECORATION: underline;  COLOR: blue;  text-underline: single; }

P.MsoBodyText3 {FONT-SIZE: 8pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt;  LINE-HEIGHT: normal; }

P.MsoBodyText2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt;  LINE-HEIGHT: 200%; }

P.MsoBodyText {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }

P.MsoToc3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

SPAN.C1HInlineExpand {}

SPAN.C1HConditional {}

SPAN.C1HLinkTagInvisible {DISPLAY: none; }

SPAN.C1HGroup {}

SPAN.C1HPopup {}

P.C1HPopupTopicText {FONT-SIZE: 8pt;  FONT-FAMILY: "Tahoma",sans-serif;  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }







P.MsoClosing {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 216pt;  LINE-HEIGHT: normal; }

P.MsoFooter {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt;  LINE-HEIGHT: normal;  PADDING-RIGHT: 0pt;  tab-stops: right 486.0pt; }

P.MsoCommentText {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoToc4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 36pt 0pt 108pt;  LINE-HEIGHT: normal; }

P.footereven {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt;  LINE-HEIGHT: normal;  PADDING-RIGHT: 0pt;  tab-stops: right 486.0pt; }

P.TableBorder {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: 1pt; }

P.FiguresTable {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 3pt 0pt;  LINE-HEIGHT: 14pt;  tab-stops: 18.0pt 36.0pt; }

P.CodeBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Courier New";  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }













P.MsoDate {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoToc5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 5pt 40pt;  LINE-HEIGHT: normal; }

P.GlossaryHeadingnoautolinks {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 6pt 0pt 0pt;  LINE-HEIGHT: normal; }

P.BodyTable {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5.75pt 0pt 0pt;  LINE-HEIGHT: normal; }

P.GlossaryHeading {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 6pt 0pt 0pt;  LINE-HEIGHT: normal; }

P.List2Table {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 36pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: 36.0pt; }



P.MsoIntenseQuote {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Verdana",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  COLOR: #4f81bd;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  TEXT-ALIGN: center;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 18pt 43.2pt;  LINE-HEIGHT: normal;  PADDING-RIGHT: 0pt; }



SPAN.MsoCommentReference {}

P.MsoToc6 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 5pt 50pt;  LINE-HEIGHT: normal; }

P.TOCTitle0 {FONT-SIZE: 24pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

P.IndexBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }
















ADDRESS {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-STYLE: italic;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoBlockText {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Calibri",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  COLOR: #4f81bd;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt 57.6pt;  LINE-HEIGHT: normal;  PADDING-RIGHT: 0pt; }

P.MsoNoteHeading {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoBodyTextFirstIndent {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt;  LINE-HEIGHT: normal;  TEXT-INDENT: 10.5pt; }

P.MsoEnvelopeAddress {FONT-SIZE: 12pt;  FONT-FAMILY: "Cambria",serif;  MARGIN: 0pt 0pt 0pt 144pt;  LINE-HEIGHT: normal; }

P.MsoToc7 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 5pt 60pt;  LINE-HEIGHT: normal; }

P.MsoIndex8 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 80pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -10pt; }

button {text-indent: 0pt; }

P.ByLine {FONT-SIZE: 14pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  TEXT-ALIGN: right;  MARGIN: 12.1pt 0pt 36.1pt;  LINE-HEIGHT: normal; }








P.MsoBodyTextIndent {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt 14.15pt;  LINE-HEIGHT: normal; }

P.MsoNormalIndent {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal; }

P.MsoIndex9 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 90pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -10pt; }

H5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  MARGIN: 6pt 0pt 0pt;  LINE-HEIGHT: normal; }

SPAN.C1HContextID {DISPLAY: none; }

SPAN.C1HIndexInvisible {DISPLAY: none; }

P.TOCBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.GlossaryTerm {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 2pt 0pt;  LINE-HEIGHT: 14pt; }




P.MsoSubtitle {FONT-SIZE: 11pt;  FONT-FAMILY: "Calibri",sans-serif;  COLOR: #5a5a5a;  MARGIN: 0pt 0pt 8pt;  LETTER-SPACING: 0.75pt;  LINE-HEIGHT: normal; }

P.MsoSignature {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 216pt;  LINE-HEIGHT: normal; }

P.MsoToc8 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 5pt 70pt;  LINE-HEIGHT: normal; }

H4 {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 2pt 0pt;  LINE-HEIGHT: normal; }

P.C1HBullet2A {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 54pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.KeywordLink {FONT-SIZE: 11pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Verdana",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  FONT-WEIGHT: bold;  COLOR: blue;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 0pt 1pt;  LINE-HEIGHT: normal;  PADDING-RIGHT: 0pt; }












P.MsoPlainText {FONT-SIZE: 10.5pt;  FONT-FAMILY: Consolas;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoMessageHeader {FONT-SIZE: 12pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Cambria",serif;  BORDER-RIGHT: medium none;  BACKGROUND: #cccccc;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt 0pt 0pt 54pt;  LINE-HEIGHT: normal;  PADDING-RIGHT: 0pt;  TEXT-INDENT: -54pt; }

P.MsoList {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt 18pt;  LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  tab-stops: 18.0pt; }

P.MsoMacroText {FONT-SIZE: 10pt;  FONT-FAMILY: Consolas;  MARGIN: 0pt;  LINE-HEIGHT: normal;  tab-stops: 24.0pt 48.0pt 72.0pt 96.0pt 120.0pt 144.0pt 168.0pt 192.0pt 216.0pt; }

P.MsoToa {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 0pt 10pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -10pt; }

P.MsoEnvelopeReturn {FONT-SIZE: 10pt;  FONT-FAMILY: "Cambria",serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoCaption {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-STYLE: italic;  MARGIN: 0pt 0pt 8pt;  LINE-HEIGHT: 14pt;  tab-stops: 18.0pt 36.0pt; }

P.MsoToc9 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 5pt 80pt;  LINE-HEIGHT: normal; }

