<style>
body {
    font-family: "Tahoma", "Verdana", "Arial", sans-serif;
    font-size: 0.9em;
    padding:2px;
    color: #666666;
}

p{
    text-align:justify;
}

.less-width{
    padding-right:50px;
}

.header-container{
    width:100%;
    border-spacing:0px;
}

.header-text {
    color: #999999;
    font-style: italic;
    text-align:left;
}

.header-logo{
    float:right;
    background-image:url(sentrana-logo.png);
    background-repeat:no-repeat;
    width:125px;
    height:32px;
}

.body-container{
    float:left;
}
.page-link{
    font-size: 0.82em;
    width:100%;
}

.footer-text {
    font-size: 0.79em;
    color: #666666;
}

.footer {
    font-family: "Courier New";
    font-size: 0.9em;
    color: #006;
    margin: 1em 0 0 0;
    padding-top: 0.5em;
    border-top: 1px dotted #006;
}
</style>
