@(firstName: String, link: String, timeout: Long)

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @views.html.emails.EmailStyle()
    </head>
    <body>
        @views.html.emails.MailHeader()
        <div class="body-container">
            <p>Hi @firstName,</p>
            <p class="less-width">This email confirms that you requested to reset your password.
                Please click on the following link to create a new password:</p>
            <div class="page-link"><a href="@link">@link</a></div>
            <p class="less-width">This password link will expire in @timeout hours. If you have any questions, please contact your administrator.
            </p>
            @views.html.emails.MailFooter()
        </div>
    </body>
</html>
