@(firstName: String, username: String)

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @views.html.emails.EmailStyle()
    </head>
    <body>
        @views.html.emails.MailHeader()
        <div class="body-container">
            <p>Hi @firstName,</p>
            <p class="less-width">You password for account @username just was updated.
                If it wasn't you - please contact administrator.
            </p>
            @views.html.emails.MailFooter()
        </div>
    </body>
</html>
